.CarCards{
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
}
.CarCard{
  border: grey 2px solid;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  transition: 200ms;
}
.CarCard:hover{
  transform: scale(103%);

}

.input{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 30px 15px;
  border-radius: 5px;
  border: #505050 2px solid;
  background: grey;
  z-index: 1;
}